<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MB & FIC - Início</title>
    
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
    {% endblock %}
</head>
<body>
    {% if ulogin %}
        <nav class="barra-superior">
            <ul class="menu">
                <li><a class="button" href="/logoff">Logoff</a></li>
                <li><a class="button" href="/Person">Person</a></li>
                <li><a class="button" href="/gform/Customer">Customer</a></li>
                <li><a class="button" href="/gform/Product">Product</a></li>
                <li><a class="button" href="/gform/CustomerOrder">Order</a></li>
                <li><a class="button" href="/subform/CustomerOrder_OrderProduct?option=''">Order lines</a></li>
                <li><a class="button" href="/Userlogin">Users</a></li>
                <li><a class="button" style="color: lightblue;">User: {{ ulogin }}</a></li>
            </ul>
        </nav>
    {% endif %}


    {% if not ulogin and request.path != '/login' and request.path != '/chklogin' %}
        <header class="barra-superior">
            <div class="logo">
                <h1>MB & FIC</h1>
            </div>
            <a href="{{ url_for('login') }}">
                <button class="btn-login">Login</button>
            </a>
        </header>
    {% endif %}


    <main class="conteudo-principal">
        {% block content %}
            <div class="boas-vindas">
                <h2>MB & FIC</h2>
                <p>A empresa de topo no mercado</p>
            </div>
        {% endblock %}
    </main>

</body>
</html>