{% extends "index.html" %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% endblock %}
</head>
<body>

{% block content %}
    <div class="dados">
        <h1>Login</h1>
        
        <form id="form" action="/chklogin" method="post">
            <label for="user">User:</label>
            <input type="text" id="user" name="user" value="{{user}}" placeholder="Escreve o teu utilizador"/>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{password}}" placeholder="Escreve a tua senha"/>
            
            <button type="submit" class="button1">Login</button>
        </form>
        
        <h3 style="color: red;">{{resul}}</h3>
    </div>
{% endblock %}

</body>
</html>
