{% if ulogin %}
    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/gestao-assets">Gestão de Assets</a>
        <a class="button" href="/Userlogin">Users</a>
        <a class="button" style="color: white;">{{ ulogin }}</a>
        <a href="/logoff">Logoff</a>
    </nav>
{% endif %}

{% if not ulogin and request.path != '/login' and request.path != '/chklogin' %}
    <nav1>
        <a class="logo">MB & FIC</a>
        <a href="{{ url_for('login') }}"><button class="botao_login">Login</button></a>
    </nav1>
{% endif %}
